


<div class="login-page">
  <div class="logo-container">
    <h1 class = "logo">LifeTrack</h1>
    </div>
  <div class="form">
    <form class="login-form" (ngSubmit)="onSubmit(form)" #form="ngForm">
      <input type="text" placeholder="username" ngModel  name="username" id="username" class="form-control" required/>
      <input type="password" placeholder="password" ngModel  name="password" id="password"  required/>
      <button>login</button>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
      <p class="message">Not registered? <a href="register">Create an account</a></p>
    </form>
    
  </div>
</div>