<h1>LifeTrack</h1>
<button (click)="Logout()">Logout</button>
<div class="days-container">
    <div *ngFor="let day of days" class="day-wrapper">
        <div 
            (click)="onDayClick(day.id)" 
            [class.clicked]="clickedDayId === day.id"
            class="day-button"
        >
            <p>{{ day.date | date: 'd MMMM' }}</p>
        </div>
    </div>
</div>
<div *ngIf="days.length === 0">
    <p>No days available.</p>
</div>

<div *ngIf="meals.length > 0">
  <h2>Meals for the selected day:</h2>
  <ul class="meal-list">
    <div 
      (click)="onMealClick(meal.id); meal.clicked = !meal.clicked" 
      [class.clicked]="clickedMeal === meal.id"
      class="meal-item" 
      *ngFor="let meal of meals"
    >
      {{ meal.meal_type }} MealID{{meal.id}} DayID{{meal.day}}
    </div>
  </ul>
</div>
<div *ngIf="meals.length === 0">
  <p>No meals available for the selected day.</p>
</div>


<h2>Products for the selected meal:</h2>
<button (click)="AddProductToMeal(productInput.value, clickedMeal)">Add</button>
<input type="text" id="addproduct" #productInput>
<ul>
  <div *ngFor="let product of mergedList; let i = index;" >
    {{product.id}} - {{ product.name }} Protein: {{ (product.protein_per_100g * product.gramature / 100) | number:'1.2-2'}}  Carbohydrates: {{ (product.carbohydrates_per_100g * product.gramature / 100) | number:'1.2-2' }}  Fat: {{ (product.fat_per_100g * product.gramature / 100) | number:'1.2-2'}} Calories: {{ (product.calories_per_100g * product.gramature / 100)| number:'1.2-2'}}
    <p>Gramature:<input type="number" [(ngModel)]="product.gramature"  (change)="saveGramature(product.id, product.gramature, clickedMeal)"></p>
  </div>
</ul>

<div *ngIf="!mergedList || mergedList.length === 0">
  <p>No products available for the selected meal.</p>
</div>