
<div class="days-container">
    <div *ngFor="let day of days" class="day-wrapper">
        <div 
            (click)="onDayClick(day.id)" 
            [class.clicked]="clickedDayId === day.id"
            class="day-button"
        >
            <p>{{ day.date | date: 'd MMMM' }}</p>
        </div>
    </div>
</div>
<div *ngIf="days.length === 0">
    <p>No days available.</p>
</div>

<div *ngIf="meals.length > 0">
  
  <ul class="meal-list">
    <div 
      (click)="toggleMealClick(meal.id); meal.clicked = !meal.clicked" 
      [class.clicked]="clickedMeal === meal.id"
      class="meal-item" 
      *ngFor="let meal of meals"
    >
      {{ meal.meal_type }}
    </div>
  </ul>
</div>




<ul *ngIf="mealClicked == true">
  <button (click)="AddProductToMeal(productInput.value, clickedMeal)">Add</button>
  <input type="text" id="addproduct" #productInput>
  <div class ="layout-container">
  <div>
  <div class = "product-info" *ngFor="let product of mergedList; let i = index;" >
    <p class="product-details">
      <span>{{ product.name }}</span>
      <span>Protein: {{ (product.protein_per_100g * product.gramature / 100) | number:'1.2-2' }}</span>
      <span>Carbohydrates: {{ (product.carbohydrates_per_100g * product.gramature / 100) | number:'1.2-2' }}</span>
      <span>Fat: {{ (product.fat_per_100g * product.gramature / 100) | number:'1.2-2' }}</span>
      <span>Calories: {{ (product.calories_per_100g * product.gramature / 100) | number:'1.2-2' }}</span>
    </p>
    <p class="product-actions">
      <span>Gramature:
        <input type="number" [(ngModel)]="product.gramature" (change)="saveGramature(product.id, product.gramature, clickedMeal)">
      </span>
      <button (click)="DeleteProductFromMeal(product.id, clickedMeal)">Delete</button>
    </p>
  </div>
  </div>
  <div class ="product-container"><p>Total:  Protein: {{ calculateTotalNutrients().protein | number:'1.2-2' }},
    Carbohydrates: {{ calculateTotalNutrients().carbohydrates | number:'1.2-2' }},
    Fat: {{ calculateTotalNutrients().fat | number:'1.2-2' }},
    Calories: {{ calculateTotalNutrients().calories | number:'1.2-2' }}</p>
    <canvas id="myChartCanva" width="500" height="400"></canvas>
  </div>
</div>
</ul>
<p *ngIf="error_message!=null ">{{error_message}}</p>