.navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  background-color: #216424;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  color: #4CAF50;
  padding: 40px;
  font-family: 'Roboto', sans-serif; 
  font-weight: bold; 
}
.logo-container{
  display: flex;
  justify-content: center;
}
.button-container{
  display: flex;
  justify-content: center;
}
.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

.list-item {
  margin-bottom: 10px;
  
}

.link {
  display: block;
  color: #4CAF50;
  text-decoration: none;
  padding: 10px 20px;
  font-family: 'Roboto', sans-serif; 
  font-weight: bold; 
}

.link:hover {
  background-color: #276749;
}

.logout-button {
  align-self: center;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #4CAF50; /* Dark green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif; 
  font-weight: bold; 
}

.logout-button:hover {
  background-color: #276749; /* Darker green */
}
